@font-face {
    font-family: 'FZCHYK';
    src: url(./fonts/FZCHYK.TTF);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FZY4JW';
    src: url(./fonts/FZY4JW.TTF);
    font-weight: normal;
    font-style: normal;
}
.wrapper {
    /* font-family: 'FZCHYK'; */
    font-family: 'FZY4JW';
}